@model SuperERP.Compras.Service.UsuarioService

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Usuário</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
